<ion-header>
  <ion-toolbar color='dark'>



  	<ion-buttons slot='start'>
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>

    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>


	 


<ion-item>
			    <ion-label position="floating">Mi profesion</ion-label>
			    <ion-select [(ngModel)]="miperfil.profesion" >
			      <ion-select-option  *ngFor="let key of profesiones" value='{{key.id}}' >{{key.nombre}}</ion-select-option >
			    </ion-select>
			  </ion-item>
  


     <ion-item>
      <ion-label position="floating">Numero Cuenta</ion-label>
      <ion-input [(ngModel)]="miperfil.numero_cuenta" type="number"  required></ion-input>
    </ion-item>


    

</ion-content>

<ion-footer>

	<ion-toolbar color='danger' (click)='actualizaperfil(miperfil)'>

		Guardar

	</ion-toolbar>

</ion-footer>

